<strong>Olá, {{students}} </strong>
<p>Sua matricula foi efetuada com sucesso </p>
<p>
  <strong>Plano: </strong>{{plan}} <br />
  <strong>Data Inicial: </strong>{{dateInit}}<br />
  <strong>Data Termino: </strong>{{dateFim}}<br />
  <strong>Valor total do Contrato: </strong>{{price}} <br />
  <br />
  <small>
    Seja Bem Vinda ao GymPoint.
  </small>
</p>
